<div class="container py-3">
  <div class="btn-group .mt-3" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger"><a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/login">Login</a></button>
  <button type="button" class="btn btn-success"><a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/register">Register</a></button>
</div>
</div>